/* Global Styles */

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;

}



/* Navigation Bar */

.navbar {
    background-color: #6ab04c;
    font-family: "Book Antiqua";
    padding: 0px 20px;
}

.navbar-brand {
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
}

.navbar-brand:hover {
    color: #ffffff;
}

.navbar-nav .nav-link {
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    margin-left: 15px;
}

.navbar-nav .nav-link:hover {
    color: #ffffff;
}

.navbar-nav .active .nav-link {
    color: #ffffff;
}

.navbar-toggler {
    border: none;
    outline: none;
    color: #ffffff;
}

.navbar-toggler:hover {
    color: #ffffff;
}

.row{
    padding-top: 30px;
}
/* Hero Section */
#for-padding{
    padding-top: 70px;
    margin-bottom: 50px;

}
.hero {
    position: relative;
    overflow: hidden;
    background-color: #009688;
    color: #ffffff;
    margin: 80px 0px 30px 0px;

}

.carousel-container {
    position: relative;
    z-index: 1;
}


.carousel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.carousel-indicators {
    bottom: 20px;
}

.carousel-control-prev,
.carousel-control-next {
    top: 50%;
}

.carousel-inner {
    height: 100%;
}

.carousel-item {
    height: 100vh; /* Make slides full-screen */
}

.carousel-item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.hero-content {
    position: relative;
    z-index: 1;
    padding: 100px 0;

    text-align: center;



}
.welcome-back{
    background-color: rgba(51, 51, 51, 0.8);
    padding-bottom: 50px;
    padding-top: 50px;
    border-radius: 20px;
    opacity: 50;

}
#productName{
    border-radius: 9px;
    margin: 0 200px 20px 200px;
    max-width: 750px;
}

.hero-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

.hero-description {
    font-size: 18px;
    margin-bottom: 30px;
}

.btn-primary {
    background-color: #009688;
    border-color: #009688;
}
/* About Us Section */

.about-us {
    padding: 50px 0;
    background-color: #f8f8f8;
    text-align: center;
}

.about-us h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 20px;
}

.about-us-description {
    font-size: 16px;
    color: #777777;
    line-height: 1.6;
    margin: 0 auto;

}


/* Footer */

.footer {
    background-color: #6ab04c;
    padding: 0px 0px 15px 0px;
    margin-top: 20px;
    color: #777777;
    text-align: center;
}

.footer h5 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333333;
}

.footer p {
    margin-bottom: 10px;
}

.social-media {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.social-media li {
    display: inline-block;
    margin: 10px;
}

.social-media li a {
    color: #777777;
}

.social-media li a:hover {
    color: #333333;
}

#footer-style{
    font-family: "Book Antiqua";
}